<div class="header-container">
    <h1 class="header-title"> customers 1st </h1>
</div>

<app-search-bar></app-search-bar>

<ng-container *ngIf="products$ | async as products">
    <table class="product-table">
        <thead>
            <tr>
                <th> Title </th>
                <th> Price </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of slicedProducts">
                <td>{{product.title}}</td>
                <td>{{product.price}} DKK </td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-container *ngIf="this.searchedProducts.length >= this.productsPerPage">
    <mat-paginator class="product-paginator"
    [length] = "this.searchedProducts.length"
    [pageSize]= "10"
    [pageSizeOptions] = "[5, 10, 20]"
    (page)="onPageChange($event)"
    ></mat-paginator>
</ng-container>

