@font-face {
    font-family: 'Blimone Semi Bold Inktrap';
    src: url('../../../../assets/fonts/FontsFree-Net-blimone-bold.ttf') format('truetype');
}

.header{
    &-container{ 
        display: flex; 
        justify-content: center;
        margin-bottom: 18px;
        margin-top: 100px; 
    }

    &-title{
        font-size: 30px;
        font-family: sans-serif;
        color: black; 
        font-weight: bold;
    }
}

.product {
    &-table {
        margin: 0 auto;
        margin-top: 20px;
        width: 70%;
        border-collapse: collapse;

        th,
        td {
            padding: 8px;
            text-align: left;
            vertical-align: top;
            border: 1px solid #ccc;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f8f8f8;
        }
    }

    &-paginator {
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-top: 20px; 
    }

    
}

body{
    background-color: white;
}