<div class="header-container">
    <h1 class="header-title"> Search for Products </h1>
</div>

<app-search-bar> </app-search-bar>

<table class="product-table">
    <thead>
        <tr>
            <th> ID </th>
            <th> Title </th>
            <th> Price </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of slicedProducts">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.price}} DKK </td>
        </tr>
    </tbody>
</table>

<ng-container *ngIf="searchedProducts.length >= productsPerPage">
    <mat-paginator class="product-paginator" [length]="searchedProducts.length" [pageSize]="productsPerPage"
        [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
</ng-container>