/* Main container */
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  /* Search title */
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color:#0000ff;
  }
  
  /* Search label */
  span {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-right: 8px;
  }
  
  /* Search input */
  input[type="text"] {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #00a1e0;
  }