.header{
    &-title{
        text-align: center;
        margin-top: 100px; 
        font-weight: bold; 
    }
    &-title2{
        text-align: center; 
    }
}

.dog-image{
    max-width: 500px; 
    max-height: 500px;
    cursor: pointer; 
    display: flex;
    margin: auto;
    border-radius: 16px; 
    text-align: center;
}