<div class = "header-container">
    <h1 class = "header-title"> Here is a cute dog </h1>
    <h2 class = "header-title2"> Click on picture to get a new dog </h2>
</div>


<img class = "dog-image"
    #dogImage
    [src] = "dogImageUrl"   
    alt = "Random Dog Image"
    (load) = "onLoadImage()"
    (error) = "onImageError()"
    >