<div>
  <app-product-search></app-product-search>
</div>

<ng-container *ngIf="products | async as products">
  <table class="nice-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Barcode</th>
        <th>Title</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of getSlicedProducts(products)">
        <td>{{product.id}}</td>
        <td>{{product.barcode}}</td>
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>

<div class="pagination">
  <button [disabled]="currentPage === 1" (click)="goToPage(currentPage-1)">Previous</button>
  <span>{{currentPage}} / {{getTotalPages((products | async)!)}}</span>
  <button [disabled]="currentPage >= getTotalPages((products | async)!)"
    (click)="goToPage(currentPage+1)">Next</button>
</div>