/* Pagination container */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

/* Pagination buttons */
button {
  background-color: #0000ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover:not([disabled]) {
  background-color: #0404dd;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Pagination info */
span {
  font-size: 18px;
  margin: 0 16px;
}

.nice-table {
  width: 100%;
  border-collapse: collapse;
}

.nice-table th,
.nice-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.nice-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.nice-table tr:nth-child(even) {
  background-color: #f8f8f8;
}