<mat-toolbar class="header-container">
    <span> <mat-icon> mood </mat-icon> funRepo </span>
    <div class="spacer"></div>
    <div class="button-container">
        <button mat-button [matMenuTriggerFor]="projectsMenu"> Projects </button>
        <mat-menu #projectsMenu="matMenu">
            <button mat-menu-item routerLink="productsearch"> productsearch </button>
            <button mat-menu-item routerLink="randomdog"> randomdog </button>
        </mat-menu>
    </div>
</mat-toolbar>