.homepage{
    &-container{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    &-title {
        display: block; 
        text-align: center; 
        color: white;
      }

    &-text{
        color: white;
        margin: auto; 
        max-width: 600px; 
    }
}

.black-background {
    background-color: black;
    min-height: 100vh;
    overflow: auto;
}