<div class="black-background">
    <div class="homepage-container">
        <h1 class="homepage-title"> KEVIN PHAN </h1>
        <h2 class= "homepage-text"> As a skilled robotics and software engineer, I've recently expanded my expertise to include web development, combining my passions to create innovative solutions.
            Explore my exciting collection of Angular projects on the top right of the page. </h2>
    </div>
</div>  