<mat-toolbar color="primary" class = "mat-elavation-z6">
    <span> <mat-icon> eco </mat-icon> LetsPlay </span>
    <div class="spacer"></div>
    <a mat-button routerLink="home"> Home </a>
    <a mat-button routerLink="services"> Services </a>
    <a mat-button routerLink="projects" > Projects </a>
    <a mat-button routerLink="aboutus" > About Us </a>
    <a mat-raised-button color="accent" routerLink="signup" > Signup </a>
</mat-toolbar>