@font-face {
    font-family: 'Blimone Semi Bold Inktrap';
    src: url('../../../../../assets/fonts/FontsFree-Net-blimone-bold.ttf') format('truetype');
  }

.search{
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f8f8f8;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &-label{
        font-size: 18px; 
        margin-right: 8px; 
        font-family: 'Blimone Semi Bold Inktrap';
        color: black; 
    }

    &-input{
        flex-grow: 1;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px;
        font-size: 16px;
        outline: none;
    }
}