<div class = "header-container">
    <h1 class = "header-title"> Click on random dog picture to get a new random dog picture</h1>
</div>


<img class = "dog-image"
    #dogImage
    [src] = "dogImageUrl"
    alt = "Random Dog Image"
    >