.page-numbers {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .page-numbers button {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: black;
    cursor: pointer;
    margin: 0 4px;
    padding: 5px 10px
  }