<div style="text-align: center;">
    <h1>
        Klik på billedet for at få en nyt hunde billede
    </h1>
</div>

<img
    [src] = "dogImageUrl"
    alt = "Random Dog Image"
    (click) = "loadRandomDogImage()"
    style = "max-width: 100%; cursor: pointer; display: flex; margin: auto;"
    >